extends ./layout/layout

block head
    title #{client.user.username}

block body
    .text-center.text-white(style="margin-top: 150px;")
        img.rounded-circle(src=`${client.user.avatarURL()}`)
        p.mt-2 #{client.user.tag}
        h4 #{client.config.website.description}

        .mt-5
            a.btn.btn-outline-warning(href=`${client.config.website.invite}` target="_blank") Adicionar
            a.btn.btn-outline-warning(href="/commands") Comandos